<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>   
    <title>Hallym</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>데이터 베이스 목록</h1>
    <table>
        <thead>
            <tr>
                <th> ID </th>
                <th> Student Code</th>
                <th> Time </th>
                <th> Location </th>
            </tr>
        </thead>
        <tbody>
            {% for i in data %}
            <tr>
                <th scope="col"> {{i.id}} </th>
                <th scope="col"> {{i.student_code}} </th>
                <th scope="col"> {{i.timestamp}} </th>
                <th scope="col"> {{i.location}} </th>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>